.arrows-box {
  border: 1px solid #fff;
  background-color: rgba(30, 30, 30, 0.7);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 50px;
  z-index: 1;
}

.arrows {
  width: 10px;
  height: 10px;
  position: relative;
  margin: 25px auto 0;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    width: 100%;
    height: 100%;
    animation: arrow 3s linear infinite;
  }
}

.arrows::after {
  margin-top: -5px;
  animation: arrow 3s linear infinite -1.5s;
}

@keyframes arrow {
  0% {
    opacity: 0;
    transform: translate(0, -10px) rotate(-45deg);
  }

  10% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translate(0, 0) rotate(-45deg);
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translate(0, 10px) rotate(-45deg);
  }
}
